.doctor {
    background: rgb(0, 10, 41);
    background: linear-gradient(90deg, rgba(0, 10, 41, 1) 0%, rgba(0, 19, 77, 1) 52%, rgba(0, 10, 41, 1) 100%);
    padding: 50px 0 50px 0;
    &__wrapper {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }
    &__img {
        margin-right: 10px;
    }
    &__list {
        display: flex;
        justify-content: space-around;
        text-transform: uppercase;
        margin-bottom: 50px;
        li::before {
            content: "\2730";
            padding-right: 5px;
            color: purple;
        }
    }
}

@media (max-width: 768px) {
    .doctor {
        &__img {
            img {
                width: 400px;
            }
        }
    }
}
@media (max-width: 600px) {
    .doctor {
        &__img {
            img {
                width: 300px;
            }
        }
    }
}
@media (max-width: 500px) {
    .doctor {
        &__img {
            img {
                width: 200px;
            }
        }
        &__wrapper {
            font-size: 12px;
            line-height: 14px;
        }
    }
}
@media (max-width: 375px) {
    .doctor {
        padding: 10px 0 10px 0;
        &__img {
            img {
                width: 150px;
            }
        }
        &__wrapper {
            font-size: 12px;
            line-height: 14px;
        }
    }
}
